<%= form_with(model: ico, local: true) do |form| %>


    <% if ico.errors.any? %>
        <div class="row">

          <div class="col-xs-12">


            <div class="panel panel-danger">
              <div class="panel-heading">
                <h2 class="panel-title">
                  <%= pluralize(ico.errors.count, "error") %> prohibited this ico from being saved:
                </h2>

                <div class="panel-body">
                  <ul>
                    <% ico.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>


          </div>
        </div>
    <% end %>

    <div class="pull-right">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Actions</h3>
        </div>
        <div class="panel-body">
          <div class="actions center">
            <%= form.submit class: "btn btn-success" %> |
            <%= link_to 'Back', icos_path,  class: "btn btn-warning" %>
          </div>
        </div>
      </div>
    </div>

    <!--beginning of new row-->
    <div class="row">

      <div class="col-xs-3 form-group">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Ico Ticker</h3>
          </div>
          <div class="panel-body">
            <%= form.text_field :ico_ticker, class: "form-control" %>
          </div>
        </div>

      </div>

      <div class="col-xs-3 form-group">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Ico Name</h3>
          </div>
          <div class="panel-body">
            <%= form.text_field :ico_name, class: "form-control" %>
          </div>
        </div>

      </div>

      <div class="col-xs-3 form-group">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Ico Rating</h3>
          </div>
          <div class="panel-body">
            <%= form.number_field :ico_rating, class: "form-control" %>
          </div>
        </div>
      </div>

    </div>



    <!--Begining of New Row-->
    <div class="row">
      <div class="col-xs-3 form-group">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Idea Evaluation</h3>
          </div>
          <div class="panel-body">
            <%= form.select :idea_evaluation_type, options_for_select(@idea_evaluation_types.collect {|s| [s[0], s[0]]}, selected: @ico.idea_evaluation_type), {}, class: "form-control" %>

          </div>
        </div>

      </div>
      <div class="col-xs-3 form-group">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Team Evaluation</h3>
          </div>
          <div class="panel-body">
            <%= form.select :team_evaluation_type, options_for_select(@team_evaluation_types.collect {|s| [s[0], s[0]]}, selected: @ico.team_evaluation_type), {}, class: "form-control" %>

          </div>
        </div>
      </div>
      <div class="col-xs-3 form-group">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Advisors Evaluation</h3>
          </div>
          <div class="panel-body">

            <%= form.select :advisors_evaluation_type, options_for_select(@advisors_evaluation_types.collect {|s| [s[0], s[0]]}, selected: @ico.advisors_evaluation_type), {}, class: "form-control" %>

          </div>
        </div>
      </div>
    </div>
    <!--Beginning of new row-->
    <div class="row">
      <div class="col-xs-3 form-group">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Alpha/Beta Evaluation</h3>
          </div>
          <div class="panel-body">

            <%= form.select :alpha_beta_evaluation_type, options_for_select(@alpha_beta_evaluation_types.collect {|s| [s[0], s[0]]}, selected: @ico.alpha_beta_evaluation_type), {}, class: "form-control" %>

          </div>
        </div>

      </div>
      <div class="col-xs-3 form-group">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Token Metrics</h3>
          </div>
          <div class="panel-body">

            <%= form.select :token_metrics_evaluation_type, options_for_select(@token_metrics_evaluation_types.collect {|s| [s[0], s[0]]}, selected: @ico.token_metrics_evaluation_type), {}, class: "form-control" %>

          </div>
        </div>
      </div>

      <div class="col-xs-3 form-group">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Platform or App Evaluation</h3>
          </div>
          <div class="panel-body">

            <%= form.select :platform_app_evaluation_type, options_for_select(@platform_app_evaluation_types.collect {|s| [s[0], s[0]]}, selected: @ico.platform_app_evaluation_type), {}, class: "form-control" %>

          </div>
        </div>

      </div>

    </div>
    <!--Beginning of new row-->
    <div class="row">
      <div class="col-xs-3 form-group">
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">Website Evaluation</h3>
          </div>
          <div class="panel-body">

            <%= form.select :website_evaluation_type, options_for_select(@website_evaluation_types.collect {|s| [s[0], s[0]]}, selected: @ico.website_evaluation_type), {}, class: "form-control" %>

          </div>
        </div>
      </div>

      <div class="col-xs-3 form-group">
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">Github Evaluation</h3>
          </div>
          <div class="panel-body">

            <%= form.select :github_evaluation_type, options_for_select(@github_evaluation_types.collect {|s| [s[0], s[0]]}, selected: @ico.github_evaluation_type), {}, class: "form-control" %>

          </div>
        </div>

      </div>

      <div class="col-xs-3 form-group">
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">Social Evaluation</h3>
          </div>
          <div class="panel-body">
            <%= form.select :social_evaluation_type, options_for_select(@social_evaluation_types.collect {|s| [s[0], s[0]]}, selected: @ico.social_evaluation_type), {}, class: "form-control" %>


          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-xs-3 form-group">
        <div class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title">Bounty Evaluation</h3>
          </div>
          <div class="panel-body">
            <%= form.select :bounty_evaluation_type, options_for_select(@bounty_evaluation_types.collect {|s| [s[0], s[0]]}, selected: @ico.bounty_evaluation_type), {}, class: "form-control" %>


          </div>
        </div>
      </div>
      <div class="col-xs-3 form-group">
        <div class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title">Celebrity Evaluation</h3>
          </div>
          <div class="panel-body">
            <%= form.select :celebrity_evaluation_type, options_for_select(@celebrity_evaluation_types.collect {|s| [s[0], s[0]]}, selected: @ico.celebrity_evaluation_type), {}, class: "form-control" %>


          </div>
        </div>
      </div>
    </div>



<% end %>
