<div class="row">
  <div class="col-xs-12">
    <% flash.each do |name, msg| %>
        <div class="alert alert-<%= name %>" id="flash">
          <a href="#" class="close" data-dismiss="alert">&#215;</a>
          <%= msg %>
        </div>
    <% end %>
  </div>
</div>

<h1>Icos <%=fa_icon "rocket"%></h1>



  <table class="table table-hover">
  <thead>
    <tr>

      <th>Ico Ticker</th>
      <th>Ico Name</th>
      <th>Ico Rating</th>
      <th>Ico Main Sale Begins</th>
      <th>Ico Main Sale Ends</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>

  <%  @icos.each do |ico| %>

      <tr>

        <td class="vert-aligned"><%= link_to ico.ico_ticker, ico, class: "btn btn-link" %></td>
        <td class="vert-aligned"><%= ico.ico_name %></td>
        <td class="vert-aligned"><%= ico.ico_rating %></td>
        <td class="vert-aligned"><%= ico.ico_main_sale_open.strftime('%v') %></td>
        <td class="vert-aligned"><%= ico.ico_main_sale_close.strftime('%v') %></td>

        <td><%= link_to 'Delete', ico_path(ico),  method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger" %></td>
      </tr>
    <% end %>

  </tbody>
</table>

  <%= paginate @icos %>

